body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 2px dotted red;
    max-width: 1000px;
}

#your-score, #computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted blue;
    
}

.record {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px dotted green;
    width: 90%;
}

.wins {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ties {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rounds-remaining {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted blue;
}

#your-score, #computer-score, #rounds-remaining {
    width: 33%;
}